<nav class="navbar" style="background-color: #157347;">
  <div class="text-light text-start fs-5 fw-medium ">
      <img src="https://images.ctfassets.net/xz1dnu24egyd/3uj0WByKthyDWCOhCFTQIw/abf94946627aa6b5fc483149a56ba942/gitlab-logo-700.png" class=fa-beat-fade width="45" height="40">Answer
  </div>
</nav>

<br><ul><%= @answer %></ul>
<ul><%= link_to "home", root_path, class:"btn btn-dark" %>
  <%= link_to "Question", question_path, class:"btn btn-primary" %></ul>
