<nav class="navbar" style="background-color: #000000;">
  <div class="text-light text-start fs-5 fw-medium ">
      <img src="https://images.ctfassets.net/xz1dnu24egyd/3uj0WByKthyDWCOhCFTQIw/abf94946627aa6b5fc483149a56ba942/gitlab-logo-700.png" class=fa-flip width="45" height="40">Home page
  </div>
</nav>
<br>
 <ul><%= link_to "Question", question_path, class:"btn btn-primary" %>
  <%= link_to "Answer", answer_path, class:"btn btn-success" %></ul>
